<!-- app/views/design_patterns/index.html.erb -->
<h1>登録済みデザイン一覧</h1>
<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
  <% @patterns.each do |pattern| %>
    <div class="p-4 border rounded" style="color:<%= pattern.style_config['bg_color'] %>; background-color:<%= pattern.style_config['title_color'] %>">
      <h2 class="font-bold"style="font-family:<%= pattern.style_config['heading_font_family'] %>"><%= pattern.name %></h2>
      <div class="flex space-x-2 mt-2">
        <div class="w-10 h-10 border" style="background-color:<%= pattern.style_config['bg_color'] %>"></div>
        <div class="w-10 h-10 border" style="background-color:<%= pattern.style_config['title_color'] %>"></div>
        <div class="w-10 h-10 border" style="background-color:<%= pattern.style_config['desc_color'] %>"></div>
        <div class="w-10 h-10 border" style="background-color:<%= pattern.style_config['accent_color'] %>"></div>
      </div>
      <div class="flex flex-col mt-2 text-sm">
        <p>見出しフォント：<%= pattern.style_config['heading_font_family'] %></p>
        <p>タイトルフォント：<%= pattern.style_config['title_font_family'] %></p>
        <p>丸み：<%= pattern.style_config['border_radius'] %></p>
        <p>余白：<%= pattern.style_config['padding'] %></p>
      </div>
      <%= link_to design_pattern_path(pattern) do %>
        <button class="group relative inline-flex h-12 items-center justify-center overflow-hidden rounded-md px-6 font-medium " style="background-color: <%= pattern.style_config["desc_color"] %>">
          <span class="absolute h-0 w-0 rounded-full transition-all duration-300 group-hover:h-50 group-hover:w-46" style="background-color: <%= pattern.style_config["bg_color"] %>; ">
          </span>
          <span class="relative" style="color: <%= pattern.style_config["accent_color"] %>;">
            この配色を見る
          </span>
        </button>
      <% end %>
    </div>
  <% end %>
</div>
